/* .Button {
  border: 1px solid black;
  text-align: center;
  margin-top: 2px;
  width: 100%;
}

.Container {
  width: auto;
  background-color: blue;
  margin-inline: 10px;
}

.Input {
  width: 100%;
  font-family: "Arial";
  font-size: 20px;
} */
